body {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 80vw;
  /* background: blue; */
  display: flex;
  justify-content: space-between;
}
section {
  /* background: red; */
  width: 65%;
}
.main h2 {
  text-indent: 30px;
  font-weight: bold;
  text-decoration: underline;
}
.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 2px blue solid;
  border-radius: 5px;
}
.content p {
  width: 80%;
}

button {
  font-weight: bold;
  color: white;
  background: rgb(138, 110, 164);
  outline: 2px blue solid;
  outline-offset: -5px;
  border-radius: 5px;
}
